* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #548687;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
    font-size: 3rem;
}

.container {
  height: 70vh;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
  /* margin-top: 30px; */
  margin: auto;
  /* top: 250px !important;
   */
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  font-size: 8vmin;
  color: #b0413e ;
  background-color: #caeff0;
}
.box:hover {

height: 19vmin;
  width: 19vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  font-size: 8vmin;
  color: #b0413e ;
  background-color: #caeff0;
  transition: 0.5s;
}
#reset {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: #caeff0;
    font-size: 7vmin;

}
.msg-container {
    height: 25vmin;
}

.hide {
    display: none;
}
